body {
    font-family: Verdana;
}

/* DISPLAY BLOCK */
.block{
    display: block;
    width: 200px;
    height: 50px;
    background-color: lightcoral;
    margin-bottom: 10px;
    text-align: center;
    line-height: 50px;
}

/* Caracteristica do BLOCK */
/* -Ocupa toda a largura
-Sempre quebra a linha
-Aceita width e height */

/* DISPLAY INLINE */
.inline{
    display: inline;
    background-color: lightgreen;
    padding: 10px;
    margin: 10px;
}

/* Caracteristica do INLINE */
/* - NÃO quebra linha
-Ocupa apenas o conteudo
-Não aceita width e height */

/* DISPLAY: INLINE-BLOCK */
.inline-block{
    display: inline-block;
    width: 150px;
    height: 150px;
    background-color: lightblue;
    margin: 10px;
    text-align: center;
    line-height: 50px;
}

/*
Caracteristicas do INLINE-BLOCK
-Fica na mesma linha
-Aceita width e height
-Pode ser usado em layouts de botões
*/